/* this is a comment in css */
body{
	font-family: roboto,sans-serif;
	background-color: #202020;
}
.d{
	color: white;
	text-align: left;
}
.c{
	color: white;
	text-align: center;
}
.f{
	color: white;
	text-align: center;
}
.img{
	text-align: right;
	width: 400px;
}
.imgg{
width: 425px;
text-align: left;
}
.u{
	background-color: white;
	padding: 1px;
	text-align: center;
}
.y{
	color: #3D3D3D;
	text-align: center;
}